body {
   /* Background pattern from Subtle Patterns */
   background-image: url("../img/seamless_paper_texture.png");
   font-family: 'Lato', sans-serif;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

main {
   margin-top: 70px;
}

footer {
   background-color: black;
   color: white;
   width: 100%;
   margin: 5px 0 0 0;
}

h3 {
    font-size: 1.7142857em;
}

.navbar {
   padding: 10px 15px;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}

.pizza-badge {
    text-align: center;
}

.nav-button {
   margin-top: 10px;
}

.shrink-navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.carousel-div {
   margin-top: 40px;
   margin-bottom: 10px;
   margin-left: 0;
   margin-right: 0;
}

.carousel {
   width: 960px;
   margin: 0 auto;
}

.pizza, .food, .pizzaExtras, .dish {
   border-bottom: 1px solid #999;
}

.size {
    font-size: 1.1142857em;
    font-family: 'Titan One', cursive;
    background-color: #600;
    color: #fff;
}

.pizza:last-of-type, .food:last-of-type, .dish:last-of-type, .pizzaExtras:last-of-type {
   border-bottom: none;
}

.pizza h4, .pizzaExtras h4, .food h4, .dish h4 {
   font-size: 1.142857em;
   font-weight: bold;
}

.pizzaExtras h4 {
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.pizzeriaAddreess {
   font-size: 1.2142857em;
   font-weight: 300;
}

.opening {
   padding-right: 50px;
   text-align: center;
}

.dayOfWeek {
   text-align: right;
}

#pizzaHeader > div:not(:first-child), #dishHeader > div:not(:first-child) {
   padding-left: 10px;
}

@media(min-width: 960px) {
   #pizzaHeader > div:not(:first-child), #dishHeader > div:not(:first-child){
      padding-left: 15px;  
   }
}

div[class*="-price"] {
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #0080FF;
   font-size: 1.2142857em;
   font-weight: bold;
   text-align: center;
}

div[class*="-price"]:hover {
   color: #4d4fad;
}

.fb {
   width: 23px;
   height: 32px;
   background-color: #4668b3;
   float: left;
   color: white;
}

.fb a:visited, .fb a:active, .fb a:hover, .fb a:link {
   text-decoration: none;
   color: white;
}

#logo a:visited, #logo a:active, #logo a:hover, #logo a:link, #logo a:focus {
   text-decoration: none;
}

#logo h3 {
    margin-top: 10px;
    font-family: 'Poller One', cursive; 
    color: red;
    font-weight: bold;
    font-size: 1.9242857em
}

#logo p {
    color: #0080FF;
    font-size: 1.1242857em;
    font-weight: bold;
}

#introduction {
   margin-top: 40px;
}

#introduction div {
    border-radius: 6px;
}

#introduction .lead {
    font-size: 1.5em;
}

#introduction div ul {
    font-size: 1.1em;
}

#introduction div ul li {
    margin-bottom: 5px;
}

#introduction div ul li:last-child {
    margin-bottom: 0;
}

@media(min-width: 960px) {
   #introduction {
   margin-top: 0;
}
}


#menu {
   margin-top: 20px;
}

#pizzaMenu, #foodMenu, #dishMenu, #promotion {
   background-color: #f9f9f5;
   border-radius: 10px;
}

.sectionHeader {
   background-color: #600;
   border-radius: 10px 10px 0 0;
}

.sectionHeader h3{ 
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #fff;
   font-family: 'Titan One', cursive;
}

#pizzaHeader h4, #dishHeader h4 {
   margin-top: 10px;
   margin-bottom: 5px;
   padding-top: 10px;
   padding-bottom: 10px;
}

#pizzaFooter .sectionHeader h3 {
    padding: 0 10px;
}

#foodMenu, #dishMenu, #promotion {
   background-color: #fff;
   margin-top: 10px;
}

#foodHeader h3, #dishHeader h3, #promotionHeader h3 {
   padding-left: 15px;
}

#contact {
   margin-top: 10px;
   background-color:#eee;
   margin-left: 0;
   margin-right: 0;
   font-size: 1.2em;
}

#map {
   height: 100%;
   width: 100%;
}

.map-container {
   position: relative;
   height: 300px;
   border: 1px solid #000;
   padding: 1px;
}

.promotionBody > div[class*="promotion"] {
    float: left;
    height: 120px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    background: white;
    color: black;
}

.promotionBody  div[class*="promotion"] img {
    position: absolute;
    top: 4%;
    left: 2%;
    float: left;
    width: 115px;
    height: 95px;
}

.promotionBody  div[class*="promotion"] em {
    position: absolute;
    top: 20%;
    left: 45%;
}

.underline {
    text-decoration: underline;
}

.item-carousel {
    width: 1100px;
    height: 400px;
}
